body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    border-style: solid;
    border-radius: 5px;

}

.display {
    flex: 1.7 0 0;
    text-align: right;
    border-style: solid;
    border-radius: 5px;
    margin: 3px;
    padding-right: 2px;
    font-size: 48px;
}

.row {
    display: flex;
    flex: 1 0 0;
}

.top.row {
    justify-content: right;

}

.button {
    flex: 1 0 0;
    margin: 3px;
    font-size: 24px;
}

.button.back {
    /* font-size:48px; */
    /* justify-self:right; */
    width: 114px;
    flex: 0 0 auto;
}

.button.doublebutton {
    flex: 2 0 auto;
    /* padding left and right adjusted to account for lost pixels resulting*/
    /* from one big button in stead of two small buttons +4px each side*/
    padding: 1px 9.3px;
}

